<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATELIÊ FIOS</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <meta http-equiv="content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
</head>
<body>
    <!-- <h1>Fios e lans</h1> -->
    <div class="container">
        <form id="frmFios" class="mt-2 row g-3">

            <!-- buscar -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchFios" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="searchClient()">Buscar</button>
            </div>

            <hr class="mt-4 border border-primary border -1">
            
            <!-- CÓDIGO  -->
            <div class="col-md-2">
              <label  for="inputCodFios"  class="form-label">Código</label>
              <input type="text" class="form-control" id="inputCodFios" >
            </div>

          <!-- MARCA  -->
          <div class="col-md-4">
            <label  for="inputMarcaFios"  class="form-label">Marca</label>
            <input type="text" class="form-control" id="inputMarcaFios" >
          </div>

          <!-- COR  -->
          <div class="col-md-2">
            <label  for="inputCorFios"  class="form-label">Cor</label>
            <input type="text" class="form-control" id="inputCorFios">
          </div>

          <!-- QUANTIDADE  -->
          <div class="col-md-2">
            <label  for="inputQtdFios"  class="form-label">Qtd</label>
            <input type="text" class="form-control" id="inputQtdFios">
          </div>
          
          <hr class="mt-4 border border-primary border -1">

            <!-- tabela -->
            <div class="tabela">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      
                      <th scope="col">Qtd.</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Cor</th>
                      <th scope="col">Cód</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      
                      <th scope="row">1</th>
                      <td>EuroRoma</td>
                      <td>Rosa Malva</td>
                      <td>#E0B0FF</td>
                    </tr>
                    <tr>
                      
                      <th scope="row">2</th>
                      <td>Pingouin</td>
                      <td>Preta</td>
                      <td>#000000</td>
                    </tr>
                    <tr>
                      
                      <th scope="row">3</th>
                      <td scope="row">Lion Brand</td>
                      <td>Azul-Claro</td>
                      <td>#ADD8E6</td>
                    </tr>
                  </tbody>
                  </table>
            </div>
            <div class="mt-5">
              <button type="submit" class="btn btn-success" id="btnCreate">Adicionar</button>
              <button type="submit" class="btn btn-warning" id="btnUpdate">Editar</button>
              <button type="button" class="btn btn-danger" id="btnDelete">Excluir</button>
          </div>
          </form>
    </div>
    
    <!-- <script src="../public/js/script.js"></script> -->
    <script src="../views/rendererFios.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>