<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATELIÊ FIOS</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <meta http-equiv="content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
</head>
<body>
    <h1>Fios e lans</h1>
    <div class="container">
        <form id="frmOrdem" class="mt-2 row g-3">
            <hr class="mt-4 border border-primary border -1">
            <!-- Código -->
            <div class="col-md-2">
                <label for="inputCodFios" class="form-label">Código</label>
                <input type="text" class="form-control" id="inputCodFios" spellcheck="false" required maxlength="30">
            </div>
       
    </div>
    <script src="../public/js/script.js"></script>
</body>
</html>