<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATELIÊ FIOS</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <meta http-equiv="content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
</head>
<body>
    <h1>ATELIÊ FIOS</h1>
    <div class="container button">
        <img src="../public/img/cadastro-cliente.png" alt="clientes" title="Cadastro de clientes" onclick="cliente()">
        <img src="../public/img/tarefa-concluida.png" alt="OS" title=" Emissão OS" onclick="ordems()"> 
        <img src="../public/img/fio.png" alt="fios" title="Cores de lans" onclick="lans()">     
    </div>
    
    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/banco-de-dados-erro.png" alt="dbicon" id="statusdb">           
    </footer>
    <script src="../public/js/script.js"></script>

    <script src="renderer.js"></script><!-- Renderizador -->
</body>
</html>