<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de serviço</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <meta http-equiv="content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
</head>
<body >

    <div class="container mt-4 mb-5">
        <form id="frmOrdem" class="row g-3">

            <!-- OS -->
            <div class="col-md-4">
                <label class="form-label">Nº OS</label>
                <input type="text" class="form-control" id="txtOs" disabled>
            </div>

            <!-- Data -->
            <div class="col-md-3">
                <label class="form-label">Data</label>
                <input type="text" class="form-control" id="txtData" disabled>
            </div>

            <!-- Buscar cliente -->
            <div class="col-md-5 position-relative">
                <label for="inputSearchClient" class="form-label">Buscar Cliente</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="inputSearchClient" spellcheck="false"  maxlength="30">
                    <span class="input-group-text">
                        <img src="../public/img/search.png" alt="lupa" width="20">
                    </span>
                </div>
                 <!-- Lista de sugestões - estilo Google -->
                <ul id="viewListSuggestion" class="list-group position-absolute w-100"></ul>
            </div>
          

            <!-- Id -->
            <div class="col-md-4">
                <label for="inputIdClient" class="form-label">Id do cliente</label>
                <input type="text" class="form-control" id="inputIdClient" spellcheck="false" maxlength="15" disabled>
            </div>

            <!-- Nome -->
            <div class="col-md-5">
                <label for="inputNameClient" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNameClient" spellcheck="false" maxlength="30" disabled>
            </div>

            <!-- Telefone -->
            <div class="col-md-3">
                <label for="inputPhoneClient" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="inputPhoneClient" spellcheck="false" maxlength="15" disabled>
            </div>

            <input type="text" id="idClient" hidden>  <!-- oculto -->

            <hr class="mt-4">

            <!-- Status -->
            <div class="col-md-4">
                <label for="inputStatusOrdem" class="form-label">Status da OS</label>
                <select class="form-select" id="inputStatusOrdem" required>
                    <option></option>
                    <option>Aberta</option>
                    <option>Em andamento</option>
                    <option>Concluída</option>
                </select>
            </div>

            <!-- Serviço -->
            <div class="col-md-4">
                <label for="inputServicoOrdem" class="form-label">Tipo de serviço</label>
                <select class="form-select" id="inputServicoOrdem" required>
                    <option></option>
                    <option>Encomenda</option>
                    <option>Reparo de peça</option>
                    <option>...</option>
                </select>
            </div>

            <!-- Quantidade -->
            <div class="col-md-2">
                <label for="inputQuantidadeOrdem" class="form-label">Qtd peça</label>
                <input type="text" class="form-control" id="inputQuantidadeOrdem" maxlength="12">
            </div>

            <!-- Descrição -->
            <div class=" col-md-12">
                <textarea class="form-control" placeholder="Descrição" id="inputDescOrdem" style="height: 100px;"></textarea>
                <label for="inputDescOrdem">Descrição do pedido do cliente.</label>
            </div>

            <!-- Marca -->
            <div class="col-md-3">
                <label for="inputMarcaOrdem" class="form-label">Marca da lã</label>
                <select class="form-select form-select-sm" id="inputMarcaOrdem" required>
                    <option></option>
                    <option>Pingouin</option>
                    <option>EuroRoma</option>
                    <option>Lãs Cisne (Coats Corrente)</option>
                    <option>Lion Brand</option>
                    <option>Red Heart</option>
                    <option>Katia</option>
                    <option>Merino</option>
                    <option>Círculo</option>
                </select>
            </div>

            <!-- Pagamento -->
            <div class="col-md-3">
                <label for="inputPagamentoOrdem" class="form-label">Forma de pagamento</label>
                <select class="form-select form-select-sm" id="inputPagamentoOrdem" required>
                    <option></option>
                    <option>Dinheiro</option>
                    <option>Pix</option>
                    <option>Cartão - Débito</option>
                    <option>Cartão - Crédito</option>
                </select>
            </div>

            <!-- Total -->
            <div class="col-md-4">
                <label for="inputValorOrdem" class="form-label">Total a pagar:</label>
                <div class="input-group">
                    <span class="input-group-text">R$</span>
                    <input type="text" id="inputValorOrdem" class="form-control text-end" placeholder="0,00" oninput="formatarValor(this)">

                </div>
            </div>

            <!-- Botões -->
            <div class="col-12 mt-4 d-flex justify-content-center gap-2 flex-wrap">
                <button type="submit" class="btn btn-success">Gerar OS</button>
                <button type="button" class="btn btn-primary" onclick="inputOS()">Buscar OS</button>
                <button type="submit" class="btn btn-warning" id="btnUpdateO">Editar OS</button>
                <button type="button" class="btn btn-danger" id="btnDeleteO">Excluir OS</button>
                <button type="reset" class="btn btn-info" id="btnReset" onclick="resetFormOs()">Reiniciar</button>
            </div>

        </form>
    </div>

    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../views/rendererOrdem.js"></script>
</body>
</html>
