<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de serviço</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

    <meta http-equiv="content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
</head>
<body>
    <!-- <h1>Ordem de serviço</h1> -->
    <div class="container">
        <form id="frmOrdem" class="mt-2 row g-3">
            <!-- buscar cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchOrdem" maxlength="30" spellcheck="false" placeholder="Buscar cliente">
            </div>
            <div class="col-md-5">
                <button type="button" class="btn btn-primary" id="btnReadBuscar" onclick="searchOrdem()">Buscar</button>
            </div>
            <hr class="mt-4 border border-primary border -1">

            <!-- Nº OS -->
            <div class="col-md-2">
                <label  for="inputNumeroOs"  class="form-label">NºOS</label>
                <input type="text" class="form-control" id="inputNumeroOs" >
            </div>

            <!-- Nº SÉRIE -->
            <div class="col-md-3">
                <label  for="inputNumeroSerie" class="form-label">NºSérie</label>
                <input type="text" class="form-control" id="inputNumeroSerie" >
            </div>
            <!-- data de entrada -->
            <div class="col-md-3">
                <label  for="inputDataEntrada" class="form-label">Data de Entrada</label>
                <input type="date" class="form-control" id="inputDataEntrada" >
            </div>

            <!-- data de saída -->
            <div class="col-md-3">
                <label for="inputDataSaida"  class="form-label">Data de saída</label>
                <input type="date" class="form-control" id="inputDataSaida" >
            </div>
            <!-- Nome -->
            <div class="col-md-5">
                <label for="inputNameOrdem" class="form-label">Nome</label>
                <!-- <input type="text" class="form-control" id="inputNameOrdem" spellcheck="false" required maxlength="30"> -->
                <input type="text" class="form-control" id="inputNomeOrdem" >
            </div>

            <!-- Telefone -->
            <div class="col-md-4">
                <label for="inputTelefoneOrdem" class="form-label">Telefone</label>
                <!-- <input type="text" class="form-control" id="inputTelefoneOrdem" spellcheck="false" maxlength="15"> -->
                <input type="text" class="form-control" id="inputTelefoneOrdem" >
            </div>

            <!-- CPF -->
            <div class="col-md-3">
                <label for="inputCPFOrdem" class="form-label">CPF</label>
                <!-- <input type="email" class="form-control" id="inputEmailOrdem" spellcheck="false" maxlength="30"> -->
                <input type="text" class="form-control" id="inputCPFOrdem" >
            </div>

            

           
            <!-- DESCRIÇÃO DO PEDIDO-->
            <hr class="mt-4 border border-primary border -1">
            <h2>Descrição do serviço </h2> 
            <!-- STATUS DA OS -->
            <div class="col-md-4">
                <label for="inputStatusOrdem" class="form-label">Status da OS</label>
                <select class="form-select" id="inputStatusOrdem" name="UF" required>
                    <option></option>
                    <option >Aberta</option>
                    <option >Em Análise</option>
                    <option >Aprovada</option>
                    <option >Em Execução</option>
                    <option >Cancelada</option>
                    <option >Concluída</option>
                </select>
            </div>
            <!-- Serviço -->
            <div class="col-md-4">
                <label for="inputServicoOrdem" class="form-label">Tipo de serviço</label>
                <select class="form-select" id="inputServicoOrdem" name="UF" required>
                    <option></option>
                    <option >Encomenda</option>
                    <option >Reparo de peça</option>
                    <option >...</option>
                </select>
            </div>

            <!-- Quantidade-->
            <div class="col-md-2">
                <label for="inputQuantidadeOrdem" class="form-label">Qtd peça</label>
                <input type="text" class="form-control" id="inputQuantidadeOrdem" spellcheck="false" maxlength="12">
            </div>
            
            <!-- Descrição do pedido do cliente -->
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Descrição do pedido do cliente.</label>
            </div>

            <!-- MARCA DO MATERIA (LÃ) -->
            <div class="col-md-3">
                <label for="inputMarcaOrdem" class="form-label">Marca da lã</label>
                <select class="form-select form-select-sm" id="inputMarcaOrdem" aria-label="Small select example" required>
                    <option ></option>
                    <option value="1">Pingouin</option>
                    <option value="2">EuroRoma</option>
                    <option value="3">Lãs Cisne (Coats Corrente)</option>
                    <option value="4">Lion Brand</option>
                    <option value="5">Red Heart</option>
                    <option value="6">Katia</option>
                    <option value="7">Merino</option>
                    <option value="8">Círculo</option>
                    
                  </select>
            </div>
            <!-- Pagamento -->
            <div class="col-md-4">
                <label for="inputPagamentoOrdem" class="form-label">Forma de pagamento</label>
                <select class="form-select form-select-sm" id="inputPagamentoOrdem" aria-label="Small select example" required>
                    <option ></option>
                    <option >Dinheiro</option>
                    <option >Pix</option>
                    <option >Cartão - Débito</option>
                    <option>Cartão - Crédito</option>
                </select>
            </div>
                         
            <!-- Total Pagmento-->
            <div class="container mt-3">
                <label for="inputValorOrdem" class="form-label">Total a pagar:</label>
                <div class="input-group w-25">
                    <span class="input-group-text">R$</span>
                    <input type="text" id="inputValorOrdem" class="form-control text-end" placeholder="0,00">
                </div>
            </div>

            
            <!-- Botões -->
            <div class="mt-5">
                <!-- <button type="submit" class="btn btn-success" id="btnCreateO">Atualizar</button> -->
                <button type="submitO" class="btn btn-success">Gerar OS</button>
                <button type="button" class="btn btn-warning" id="btnUpdateO">Editar OS</button>
                <button type="button" class="btn btn-danger" id="btnDeleteO">Excluir OS</button>
                <button type="reiniciar" class=" btn btn-info" id="btnReiniciar" onclick="reiniciarForm()">Reiniciar</button>
                
            </div>
        </form>
        
    </div>
    <!-- <script src="../public/js/script.js"></script> -->
     <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../views/rendererOrdem.js"></script>
</body>
</html>