@charset "utf8";

/* Variaveis cor */
:root{
    --fundo: #d8e4ec;
}
/* Botões tabela principal */
body{
    font-family: "Open Sans", sans-serif;
    background-color: var(--fundo);
}
body h1{
    text-align: center;
    margin-top: 40px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57vh; 
}
.button img{
    margin: 7%;
}

/*  */
.centroBusca {
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block;
}
/* botões */

 /* #btnReset {
    width: 48px;
    height: 48px;
    background-image: url('../img/vassoura.png');
    border: none;
    cursor: pointer;
    margin-left: 10px;
}  */

/* #btnReiniciar {
    width: 48px;
    height: 48px;
    background-image: url('../img/atualizar.png');
    border: none;
    cursor: pointer;
    margin-left: 10px;
} */
/* RODAPÉ */
footer {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #b6c4cb;
    position: fixed;
    bottom: 0;
    padding: 8px;
    justify-content: space-between;
    display: flex;
    padding: 5px;
}
footer p{
    /* margin: 0; */
    color: black;
    padding-top: 7px;
}

 /* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }




